:root{
    --maroon: #801818;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: .25s linear;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(1, 0.1, 0.1, 1);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(117, 11, 11,.3);
}

header .logo{
    font-size: 3.3rem;
    color: var(--maroon);
    font-weight: bolder;
    font-family: "Josefin Sans", sans-serif;
}

header .logo .ylow{
    color: #ff8f00;
    text-decoration: overline;
    text-decoration-color: #801818;
    font-family: "Josefin Sans", sans-serif;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--maroon);
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

header .navbar a:hover{
    color:#ff8f00;
    transform: scale(1.02);
    transform: 0.5s;
    border-radius: 8px;
}

header .icons a{
    font-size: 2.5rem;
    color: #ff8f00;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: #801818;
    transform: scale(1.1);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #801818;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,0.3);
    display: none;
}

/*--Home Section CSS--*/

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(images/Banner3.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.2);
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #801818;
    font-family: "Playwrite AR", cursive;
}

.home .content span{
   font-size: 3.5rem;
   color: #ff8f00; 
   padding: 1rem 0;
   line-height: 1.5rem;
   font-family: "Space Grotesk", sans-serif;
}

.home .content p{
    font-size: 1.5rem;
    color: var(--maroon); 
    padding: 1rem 0;
    line-height: 1.5rem;
    font-family: "Comfortaa", sans-serif;
 }

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--maroon);
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    transition: 0.5s;
}

.btn:hover{
    background: var(--maroon);
    transform: scale(1.2);
    border-radius: 5rem;
    transition: 0.5s;
    box-shadow: 3.5px 3.5px #ff8f00;
    text-decoration: bold;
}

/*---About Us CSS---*/

.heading{
    text-align: left;
    font-size: 4rem;
    color: #801818;
    padding: 1rem;
    margin: 2rem 0;
    font-family: "Playwrite AR", cursive;
}

.heading span{
    color: #ff8f00;
    font-family: "Playwrite AR", cursive;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .vid-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .vid-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rbga(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .vid-container .h31{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    color: #801818;
    background: #fff;
    padding:1rem 2rem;
    width: 100%;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content .h32{
    font-size: 3rem;
    color: #801818;
    font-family: "Space Grotesk", sans-serif;
}

.h32 span{
    font-family: "Space Grotesk", sans-serif;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 3rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    font-family: "Comfortaa", sans-serif;
}

.ylow{
    color: #ff8f00;
    text-decoration: overline;
    text-decoration-color: #801818;
}

/*---Uses/Benifits---*/

.uses{
    background: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url(images/Untitled\ design.png);
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.uses h1{
    text-align: center;
    color: #fff;
}

.uses h1 span{
    text-decoration: overline #fff1e0;
}

.UBox:hover{
    transform: scale(1.125);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px#ff0000;
    transition: 0.6s;
}

.uses .Udiv{
    flex-basis: 31%;
    border: 10px;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
}

.uses .Udiv .UBox{
    background-color:#fff;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 .5rem 1rem rgba(117, 11, 11,.7);
    border-radius: 10px;
}

.uses .Udiv .UBox img{
    width: 70%;
    border-radius: 500px;
    border: .5px solid #801818;
}

.uses .Udiv {
    margin-top: 1px;
    display: flex;
    justify-content: space-around;
}

.uses .Udiv p{
    padding: 0;
    font-size: 12px;
    font-family: "Comfortaa", sans-serif;
}

.uses .Udiv h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    color: #801818;
    font-family: "Space Grotesk", sans-serif;
}

.uses .Udiv span{
    font-family: "Space Grotesk", sans-serif;
}

/*---Facts Section CSS---*/

.facts-sec{
    padding-top: 20px;
    background-color: #fff1e0;
}

.facts-sec h1{
    text-align: center;
}

.container{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facts{
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.facts-txt{
    background: var(--maroon);
    color: #fff;
    width: 100%;
    height: 380px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.facts-txt:hover{
    transform: scale(1.1);
    border-radius: 15px;
    background-color: #ff8f00;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.363);
}

.user-fact{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    display: none;

}

.user-fact p{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 500;
    font-size: 18px;
}

.user-fact i{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.user-fact span{
    display: block;
    font-size: 21px;
    margin-top: 40px;
    font-weight: 500;
    font-family: "Playwrite AR", cursive;
}

.facts-pic{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.fact-img{
    width: 55px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.user-fact.active-text{
    display: block;
    animation: moveup 0.5s linear forwards;
}

.fact-img.active-img{
    width: 75px;
    border:4px solid #c77100;
}

@keyframes moveup{
    0%{
        margin-top: 25px;
    }

    100%{
        margin-top: 0px;
    }
}

/*---Culture Section CSS---*/

.boxes{
    padding-top: 50px;
}

.boxes{
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/fox-millet-6624694_1920.jpg);
    background-size: cover;
}

.title-white h2{
    color: #fff;
    font-size: 4rem;
    text-align: center;
    font-family: "Playwrite AR", cursive;
    padding-bottom: 2rem;
}

.title-white span{
    font-family: "Playwrite AR", cursive;
    text-decoration: overline #fff1e0;
}

.title-white p{
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
    color: #fff;
    text-align: center;
}

.boxes .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.boxes .content .box{
    width: 310px;
    margin: 25px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.boxes .content .box:hover{
    transform: scale(1.15);
    border-radius: 5px;
    transition: 0.5s;
    background: #fff1e0;
}

.boxes .content .box .imgBox{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.boxes .content .box .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxes .content .box .boxText{
    text-align: center;
}

.btn-center{
    padding-left: 45%;
}

.boxes .content .box .boxText p{
    color: #333;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
}

.boxes .content .box .boxText h3{
    color: #ff8f00;
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10px;
}

/*---Footer CSS---*/
.footer{
    background: #fff1e0;
}

.foottxt{
    font-size: 1.75rem;
    text-align: center;
    color: var(--maroon);
    font-family: "Space Grotesk", sans-serif;
}

.foottxt span{
    color: #ff8f00;
}

/*---About Us Page CSS---*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(images/SebBanner1.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 .5rem 1rem rgba(117, 11, 11,.3);
}

.sub-header h1{
    text-align: center;
    margin-top: 135px;
}

.row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about-us-page .row .vid-container{
    flex:1 1 40rem;
    position: relative;
}

.about-us-page .row .vid-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rbga(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about-us-page .row .vid-container .h31{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    color: #801818;
    background: #fff;
    padding:1rem 2rem;
    width: 100%;
    text-align: center;
    mix-blend-mode: screen;
}

.about-us-page .row .content{
    flex:1 1 40rem;
}

.about-us-page .row .content .h32{
    font-size: 3rem;
    color: #801818;
    font-family: "Space Grotesk", sans-serif;
}

.h32 span{
    font-family: "Space Grotesk", sans-serif;
}

.about-us-page .row .content p{
    font-size: 1.5rem;
    color: #000;
    padding: 3rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    font-family: "Comfortaa", sans-serif;
}

.about-us-page .row .content p:hover{
    transform: scale(1.05);
    background-color: #fff1e0;
    padding: 5px;
    border-radius: 10px;
}

.about-us-page .row .vid-container{ 
    animation: slideIn 3s ease-out forwards;
}

.ylow{
    color: #ff8f00;
    text-decoration: overline;
    text-decoration-color: #801818;
}

.Type-About-Title{
    color: var(--maroon);
    font-size: 2.5rem;
    text-decoration: overline #ff8f00;
    font-weight: 500;
}

/*---About Us Page Animation---*/
.vid-container {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-150%, 0%);
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: slideIn 4s ease-out forwards;
    box-shadow: 0 .5rem 1rem rgba(117, 11, 11,.5);
}

@keyframes slideIn {
    from {
        transform: translate(0%, 0%) translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%) translateX(0);
        opacity: 1;
    }

}

@keyframes slideIn {
    from {
        transform: translate(0%, 0%) translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%) translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/*---Culture Page CSS---*/
.culture-page{
    background: linear-gradient(to bottom right, #ff9900cd, #a11818);
}

/* Facts Page CSS */

/* General Styles */

.header, .sub-header, .footer {
    text-align: center;
}

/* Slider Container */
.facts-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.facts-box2 {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    background-color: #fff1e0;
    padding: 20px;
    border-radius: 15px;
}

.up {
    display: flex;
    align-items: center;
}

.fact-h {
    display: flex;
    flex-direction: column;
}

.fact-h strong {
    padding-left: 20px;
    color: #801818;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    font-family: "Playwrite AR", cursive;
}

.fact-para p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    font-family: "Comfortaa", sans-serif;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;


}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#facts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.facts-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    background-color: #fff1e0;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.facts-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.up-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1.6px solid #801818;
}

.up-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-top{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 10px;
}

/*---Benefits Page CSS---*/

.benefits-page{
    background: linear-gradient(#801818,#a11818,#c77100,#ff8f00,#fff1e0);
}
/*---BTS Page CSS---*/

.bts video{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rbga(0,0,0,.1);
    height: 100%;
}

.bts1 .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.bts1 .content .box{
    width: 250px;
    margin: 25px;
    padding: 40px;
    background: #fff1e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.bts1 .content .box .imgBox{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.bts1 .content .box .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bts1 .content .box .boxText{
    text-align: center;
}

.bts1 .content .box .boxText p{
    color: #333;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
}

.bts1 .content .box .boxText h3{
    color: #ff8f00;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10px;
}

/*---Navigation Responsieve---*/

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
        background: url(images/TabBanner1.png) no-repeat;
        background-size: cover;
    }

    .sub-header{
        height: 30vh;
    }

    .btn-center{
        padding-left: 40%;
    }

    .container{
        min-height: 44vh;
    }

}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: .1rem solid rbga(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0 ,0 0);
    }

    header #toggler:checked ~ .navbar{
       clip-path: polygon(0 0,100% 0, 100% 100%,0 100%); 
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home{
        background: url(images/MobileBanner1.png) no-repeat;
        background-size: cover;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .sub-header{
        height: 40vh;
    }

    .btn-center{
        padding-left: 32%;
    }

    .facts-txt{
        height: 450px;
    }
}

@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .uses .Udiv .UBox{
        width:30%;
    }

}